{
    "last_interaction_time": "2026-06-21T22:48:24.236446",
    "avatar_user": "/uploads/avatar/your_avatar.jpg",
    "avatar_agent": "/uploads/avatar/agent_avatar.jpeg",
    "agent_name": "YourAgentName"
}