{
    "last_interaction_time": "2026-06-21T22:48:24.236446",
    "avatar_user": "/uploads/avatar/your_avatar.jpg",
    "avatar_agent": "/uploads/avatar/agent_avatar.jpeg",
    "agent_name": "YourAgentName",
    "voice_enable": "false",
    "voice_key_type": "env",
    "voice_api_key": "VOICE_API_KEY",
    "voice_generation_type": "minimax"
}